* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
h1,
h2 {
	color: #555555;
	margin-bottom: 1rem;
}

p,
li {
	margin-bottom: 1rem;
	line-height: 1.5;
	font-size: 0.9rem;
	color: #000000;
}

a {
	text-decoration: none;
	color: #007788;
}

li {
	margin-left: 1rem;
}

hr {
	border: none;
	border-bottom: 3px dotted #22bbcc;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.main__container {
	width: 100%;
	padding: 0.5rem;
}
.main {
	max-width: 40rem;
	background-color: #eeeeee;
	padding: 1rem;
	border-radius: 1rem;
	margin: auto;
}

.main > .content {
	margin-bottom: 3rem;
}
.titulo {
	margin: 2rem;
}

.fecha {
	color: #000000;
	font-weight: 700;
	margin-bottom: 0;
}
.titulo * {
	text-align: center;
}
.titulo .fecha {
	font-size: 1.2rem;
}
.titulo .lugar {
	font-size: 0.8rem;
	font-weight: 800;
	color: #777777;
}
.titulo h1 {
	margin-block: 2rem;
	color: #007788;
	font-size: 2.2rem;
	line-height: 1;
}
.bloque {
	border-radius: 0.5rem;
	margin-bottom: 2rem;
	overflow: hidden;
	box-shadow: 0 2px 5px 5px rgba(100 100 100 / 0.1);
}
.bloque > * {
	background-color: #fff;
	padding: 0.8rem;
}
.bloque.anterior header {
	background-color: #77aabb;
}
.anterior .fecha {
	color: #ffffff;
	font-style: italic;
	font-weight: 400;
}
.bloque.próximo header {
	background-color: #22bbcc;
}
.bloque header {
	z-index: 2;
	position: relative;
}
.bloque h2 {
	color: #ffffff;
}
.bloque .content {
	background-color: #ffffff;
}
.despedida {
	margin-bottom: 2rem;
}

.imágenes {
	display: flex;
	height: 20rem;
	gap: 1rem;
}
.imagen {
	flex: 0 1 20rem;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
.imagen p {
	text-align: center;
}
.imágenes img {
	max-height: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.imagen_container {
	height: 15rem;
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	/* border: solid black 2px; */
}
